<h1>{{title}}</h1>  <!-- Подставляем занчение title из объектов в .render-->

<header>
     <nav class="navigation">
            <a href="/">Weather</a>
            <a href="/help">Help</a>
            <a href="/about">About</a>
    </nav>
</header>
   
